@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

body{
  background: radial-gradient(circle at bottom, #96c4e2cb 5%, #d3eaf3)
}

.container{
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;  
}

.hero-section{
padding-top: 10rem;
padding-bottom: 5rem;
}
  
.section{
padding-top: 5rem;
padding-bottom: 5rem;
}

.text-animation{
  animation: colorChange 55s infinite;
}

/* text animation*/

@keyframes colorChange {
  0% {
    color: rgb(95, 138, 154);
  }
  10% {
    color: #3e7b99;
  }
  20% {
    color: #5d6fa3;
  }
  30% {
    color: #535f9c;
  }
  40% {
    color: #9d64a2;
  }
  50% {
    color: #784771;
  }
  60% {
    color: #7b3a52;
  }
  70% {
    color: #64354c;
  }
  80% {
    color: #5f2e31;
  }
  90% {
    color: rgb(148, 44, 54);
  }
  100% {
    color: rgb(72, 63, 166);
  }

}

.rotate-anmt{
  animation: rotate-anmt infinite 45s;
}

@keyframes rotate-anmt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glass-effect {
  background-color: rgba(233, 233, 233, 0.3); 
  backdrop-filter: blur(7px);
}

/* .glass-effect::before {
  content: ""; 
  background-color: rgba(233, 233, 233, 0.3); 
  backdrop-filter: blur(7px);
  z-index: -1;
} */

/* form */

input, textarea{
  border: 1px solid #a7a7a7;
  border-radius: 5px;
}
